[submodule "futhark"]
	path = futhark
	url = https://github.com/diku-dk/futhark.git
[submodule "finpar"]
	path = finpar
	url = https://github.com/HIPERFIT/finpar.git
[submodule "futhark-benchmarks"]
	path = futhark-benchmarks
	url = https://github.com/diku-dk/futhark-benchmarks.git
