benchmarks/fft-data
benchmarks/matmul-data
benchmarks/*.c
benchmarks/matmul
benchmarks/fft
benchmarks/LocVolCalib
benchmarks/LocVolCalib-partridag
benchmarks/*.expected
benchmarks/*.actual
benchmarks/nn
benchmarks/OptionPricing
benchmarks/nn-data
results/
tunings/
opentuner*
*.pdf
bin
rodinia_3.1.tar.bz2
rodinia_3.1-patched
rodinia_3.1
*.tgz
parboil
parboil-patched
finpar.log
